@import'nib'
$val=#001580
$lav=#806b00
#services
    
    .flext
        max-width 1280px
        margin auto
        

    .third
        display flex
        flex-direction column
        align-items center
        background #fff 
        // box-shadow 3px 3px 5px 6px #ccc;
        // border .5rem solid rgba(0,0,0,.1)
        h3  
            margin-top 1.3rem
            font-family 'Times New Roman'
            font-weight 300
            font-size 2rem
     
    .round 
        // border-radius 50%
        // margin auto
        margin-top -120px
        // border .5rem solid rgba(0,0,0,.1)
        transform: perspective(400px) rotateY(15deg)
        // box-shadow 4px 4px 18px rgba(0,0,0,.4)


// .effect5
//     position: relative;

// .effect5:before 
// .effect5:after

//     z-index: -1;
//     position: absolute;
//     content: "";
//     bottom: 25px;
//     left: 10px;
//     width: 50%;
//     top: 80%;
//     max-width:300px;
//     background: #777;
 
//     box-shadow: 0 35px 20px #777;
//     transform: rotate(-8deg);

// .effect5:after
//     transform: rotate(8deg);
//     right: 10px;
//     left: auto;
