@import'nib'
$val=#001580
$lav=#806b00
#services
    background linear-gradient(left,$val,$lav)
    .flext
        max-width 1280px
        margin auto

    .third
        display flex
        justify-content center
        align-items center 
        height 12rem
        width 30%
        margin 1rem
        box-shadow 0 0 10px rgba(0,0,0,.4)





    .services-end 
        color yellow