@import'nib'
$val=#001580
$lav=#806b00    
#top 
    padding 1rem 1rem 0 
    // background: linear-gradient(160deg, rgba(128,107,0,0.5), rgba(128,107,0,0.5) 60%, #806b00 60%, #806b00);
    border-bottom 1px solid $lav
    margin-top 3rem
    .flext
        align-items flex-end
        .half:nth-child(1)
            background-image url('./img/dozerlf.png')
            background-repeat no-repeat
            background-size 400px auto
            background-position left center
            padding-bottom 0
            margin-bottom 0
            align-self flex-start
        .half:nth-child(2)
            background-image url('./img/worker-o.png')
            background-repeat no-repeat
            background-size 260px auto
            background-position right bottom
            align-items center
            padding-top 3rem
            h3 
                margin-bottom 0

.intro 
    padding 0
    margin-bottom 0
    // align-self flex-start
.logo 
    max-width 350px
    margin 0 auto
h1 
    color $val
    font-size 2.4rem
    text-align center
    margin .2rem auto
.title-tag 
    color $lav
    font-size 2rem
    font-weight bold
    // padding 1rem 0
    text-align center
    margin-bottom 0
.quick-contact 
    color $val
    font-size 1.6rem
    font-weight bold
    text-align center
    margin 0
.features       
    color $lav
    line-height 1.4
    font-size 1.8rem
    text-align center
    padding 0
    margin-top 0
    font-weight bold 
.about 
    // background rgba(complement($val),.4)
    margin 0 auto 
    padding .6rem
    text-align center
    max-width 600px
    p  
        font-size 1.3rem
        line-height 1.2
        color $val
        margin-top 0
@media screen and (min-width: 640px)  
    .quick-contact 
        padding 0
    .title-tag 
        text-align left
        font-size 1.5rem
    .features
        font-size 1.6rem
        padding-left 2rem
        background transparent
        text-align left 
    .about 
        margin-bottom 1rem
        text-align left
        p 
            font-size 1.2rem
            .first
                color $lav
                font-size 3.2rem
                line-height 2.3rem
                font-family Georgia
                float left
                padding-top .5rem
                padding-right .2rem
                
.end-top 
    color orange            