doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    title AMP via Pug
    link(rel="canonical", href="/index.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async></script>
    //- <link href="https://fonts.googleapis.com/css?family=Raleway:200,300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
 
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    script(async, src="https://cdn.ampproject.org/v0.js")
    style(amp-custom)
      include ../site/index.css
  body
    section#top
      .flext
        header.half.intro
          .logo-wrap
            <amp-img class="logo" width="240" height="80" layout="fixed" src="img/logo.svg"></amp-img>
          h1 building contractor
          p.quick-contact 
            |Tel: 01709 889184<br/>Mobile: 07976761639<br/> info@vbirdconstruction.co.uk        

          
        .half
          .features
            p
              |Refurbishment &amp Voids<br/> 
              |New Builds & Regeneration Projects<br>            
              |Property refurbishment<br/>
              |Apartment Fitouts<br/>
              |Property Renovation
 
    section#blurb.section
      .flext
        .half
          p.big-text
            |20 Years Experience<br/>
            |Family Business<br/>
            |Accredited<br/>
            |Company Registered
        .half.about
          h3 About Us
          p
            |<span class='first'>A</span> family run business with over 20 years experience in building and refurbishment works. Working with both corporate & private clients, throughout Yorkshire and the Midlands, to provide a high level of service & expertise.

    section#majors.section
      header
         h2 major projects     

      .major-grid
        .major
          .hirers
            <amp-img class="hirer" src="img/westdales.png" alt="" height="60" width="60" layout="responsive" ></amp-img>
            <amp-img class="hirer" src="img/pfp.png" alt="" height="60" width="60" layout="responsive" ></amp-img>                    
            <amp-img class="hirer" src="img/homes.png" alt="" height="60" width="60" layout="responsive" ></amp-img>
          p
            |With Years Of Experience Gained From Smaller Projects, We Can Now Confidently Apply Our Expertise To Much Larger Projects.          
        .major
          figure
            <amp-img src="img/refurb.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Refurbishments
        .major
          figure
            <amp-img src="img/newbuild.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Private New Builds
        .major
          figure
            <amp-img src="img/regen.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Regeneration Projects
        .major
          figure
            <amp-img src="img/socials.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Social Housing
        .major
          figure 
            <amp-img src="img/unit.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Commercial Builds
      .section-footer 
        <amp-img class="logo" width="150" height="50" layout="fixed" src="img/logo.svg"></amp-img>
        p.quick-contact
          |Tel: 01709 889184<br/>info@vbirdconstruction.co.uk 

    //- #services.section
    //-   header
    //-     h2 services
    //-     p.tagline section tagline
    //-   .flext 
    //-     .third.effect5
    //-       <amp-img class='round' src="img/loft.jpg" width="175" height="175" layout="fixed" alt="a sample image"></amp-img>
    //-       h3 Loft Conversions        
    //-     .third
    //-       figure
    //-         <amp-img src="" alt=""></amp-img>
    //-         figcaption
    //-           h3 figcaption title        
    //-     .third
    //-       figure
    //-         <amp-img src="" alt=""></amp-img>
    //-         figcaption
    //-           h3 figcaption title  
    //-     .third
    //-       figure
    //-         <amp-img src="" alt=""></amp-img>
    //-         figcaption
    //-           h3 figcaption title  
    //-     .third
    //-       figure
    //-         <amp-img src="" alt=""></amp-img>
    //-         figcaption
    //-           h3 figcaption title  
    //-     .third
    //-       figure
    //-         <amp-img src="" alt=""></amp-img>
    //-         figcaption
    //-           h3 figcaption title  
    //-   .section-footer 
    //-     <amp-img class="logo" width="150" height="50" layout="fixed" src="img/logo.svg"></amp-img>
    //-     p.quick-contact
    //-       |Tel: 01709 889184<br/>info@vbirdconstruction.co.uk 
  
    #gallery.section
      header
        h2 gallery
      .carousel-wrap.carousel-preview
        .carousel
          <amp-carousel id="carousel-with-preview" width="261" height="195" layout="responsive" type="slides">
            <amp-img class='cut-img'src="img/img1.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img2.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img3.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img4.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img5.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img6.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img7.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>
            <amp-img class='cut-img' src="img/img8.jpg" width="261" height="195" layout="responsive" alt="a sample image"></amp-img>      
          </amp-carousel>        
        <button class='btn-1' on="tap:carousel-with-preview.goToSlide(index=0)">
          <amp-img src="img/img1.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-2' on="tap:carousel-with-preview.goToSlide(index=1)">
          <amp-img src="img/img2.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-3' on="tap:carousel-with-preview.goToSlide(index=2)">
          <amp-img src="img/img3.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-4' on="tap:carousel-with-preview.goToSlide(index=3)">
          <amp-img src="img/img4.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-5' on="tap:carousel-with-preview.goToSlide(index=4)">
          <amp-img src="img/img5.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
          </button>
        <button class='btn-6' on="tap:carousel-with-preview.goToSlide(index=5)">
          <amp-img src="img/img6.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-7' on="tap:carousel-with-preview.goToSlide(index=6)">
          <amp-img src="img/img7.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>
        <button class='btn-8' on="tap:carousel-with-preview.goToSlide(index=7)">
          <amp-img src="img/img8.jpg" width="65" height="48.75" layout="responsive" alt="a sample image"></amp-img>
        </button>    

    section#accredition.section
      header
        h2 accredition
        p.tagline section tagline
      .flext
        .half
          <amp-img src="img/chas.png" alt="" height="600" width="800" layout="responsive" ></amp-img>
        .half
          h3 who are CHAS?
          p
            |CHAS are an authorative accredition company that ensures its members comply with the most strignent health and safety legistation. All our members receive expert advice on safety, efficiency and environmental apsects concerning the construction industry
          p
            |Many organisations insist their contractors are health and safety accredited. CHAS members are automatically approved by over 1000 organisations By continually assessing all members, CHAS provide you with the assuarance and high safety standards you're entitled to expect... find out more

    section#contact.section
      .flext
        .half
          .details
            <i class="material-icons">email</i>
            p email address 
          .details
            <i class="material-icons">local_phone</i>
            p Tel:
          .details
            <i class="material-icons">phone_iphone</i>
            p Mobile:
          .details
            <i class="material-icons">location_city</i>
            p 
              |43 Lancaster Street<br/>
              |Thurnscoe<br/>
              |Rotherham<br/>
              |Yorkshire
        .half

