doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    title AMP via Jade
    link(rel="canonical", href="/index.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    script(async, src="https://cdn.ampproject.org/v0.js")
    style(amp-custom)
      include ../site/index.css
  body
    section#top
      .flext
        header.half.intro
          <amp-img class="logo" width="240" height="80" layout="fixed" src="img/logo.svg"></amp-img>
          h1 building contractor
          p.quick-contact 
            |Tel: 01709 889184<br/>info@vbirdconstruction.co.uk         
          p.title-tag 
            |Refurbishment &amp Voids<br/> 
            |New Builds & Regeneration Projects
          
        .half
          .features
            p
            |Property refurbishment<br/>
            |New Build Homes<br/>
            |Apartment Fitouts<br/>
            |Property Renovation<br/>
            |Regeneration & Void Schemes
          .about
            h3 About Us
            p
            |A family run business with over 20 years experience in building and refurbishment works. Working with both corporate & private clients, throughout Yorkshire and the Midlands, to provide a high level of service & expertise.

    section#majors.section
      header  
        h2 major projects
      .major-grid
        .major
          .hirers
            <amp-img class="hirer" src="img/westdales.png" alt="" height="60" width="60" layout="responsive" ></amp-img>
            <amp-img class="hirer" src="img/pfp.png" alt="" height="60" width="60" layout="responsive" ></amp-img>                    
            <amp-img class="hirer" src="img/homes.png" alt="" height="60" width="60" layout="responsive" ></amp-img>
          p
            |With Years Of Experience Gained From Smaller Projects, We Can Now Confidently Apply Our Expertise To Much Larger Projects.          
        .major
          figure
            <amp-img src="img/refurb.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Refurbishments
        .major
          figure
            <amp-img src="img/newbuild.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Private New Builds
        .major
          figure
            <amp-img src="img/regen.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Regeneration Projects
        .major
          figure
            <amp-img src="img/socials.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Social Housing
        .major
          figure 
            <amp-img src="img/unit.jpg" height='200' width='300' layout='responsive'alt=""></amp-img>
            figcaption 
              h3 Commercial Builds
      .section-footer 
        <amp-img class="logo" width="150" height="50" layout="fixed" src="img/logo.svg"></amp-img>
        p.quick-contact
          |Tel: 01709 889184<br/>info@vbirdconstruction.co.uk      







