@import "nib";
$val=#001580
$lav=#806b00

@import "styls/global" 
@import "styls/top"
@import "styls/blurb"
@import 'styls/majors'
@import 'styls/services'
@import 'styls/gallery'
@import 'styls/accredition'
@import 'styls/contact'

